.App {
  margin: 20px auto;
  width: 400px;
  border: 1px solid rgba(236, 203, 234, 0.58);
  padding: 20px;


    color: deeppink;

}
#selectorId {
  :hover {
   border-bottom: 2px solid deepPink

  }
}